/* use noto serif font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font > {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared style */
.display-flex {
  display: flex;
}
.content-col {
  color: rgba(0, 0, 0, 0.5);
}
.head-col {
  color: rgba(233, 90, 8, 1);
}
/* header related style */
.cart {
  width: 1.5rem;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px;
}
.nav-item,
.cart-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
}
/* nav item colour */
.nav-col {
  color: rgba(137, 135, 161, 1);
}
.home-col {
  color: rgba(37, 36, 50, 1);
  font-weight: bold;
}
.cart-col {
  color: rgba(0, 0, 0, 1);
}

/* banner styel */
.banner {
  margin: 120px 150px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-col {
  color: rgba(0, 0, 0, 1);
}
.banner-content {
  margin-top: 162px;
}
.banner-img {
  margin-top: 80px;
  margin-right: 40px;
}
/* our plants */
.plants-discripton {
  font-size: 1.3rem;
}
.plants {
  font-size: 3.1rem;
  justify-items: center;
}
.our-plants {
  justify-items: center;
  max-width: 860px;
  margin: 0px auto;
  text-align: center;
}
.btn {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  padding: 19px 80px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
.price {
  color: rgba(17, 17, 17, 1);
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0;
}
.lily {
  font-size: 1.3rem;
  color: rgba(17, 17, 17, 1);
  font-weight: 500;
  margin-bottom: 0;
}

.container {
  justify-content: center;
  text-align: center;
}
.all-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* flower and plant section */
.flower-plants{
  gap:30px;
  margin-top: 200px;
  justify-content: center;
  position: relative;


}
.flower-img{
  height: 500px;
  width: 517px;
}
.flower-content{
  height: 540px;
  width: 521px;
  margin-left: 50px;
}
.flower-head{
  font-weight: bold;
  font-size: 3.1rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  margin-right: 50px;
}
.flower-des{
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.flower-singel-des{
  margin-bottom: 20px;
}

.trusted{
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-70%, -140%);
}

/* latest deals section */

.latest{
 margin-bottom: 150px;
 margin-top: 100px;
}
.latest-head{
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.latest-des{
  font-size: 1.2rem;
  padding: 0 140px;
}
.latest-description{
  margin: 30px 280px;
justify-items: center;
text-align: center;
}

.bloom{
  background-image: url("assets/deal-bloom.png");
  height: 206px;
  width: 366px;
  background-size: 100%;
  border-radius: 14px;
  justify-items: center;
  align-content: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
 
}
.ana{
  background-image: url("assets/deal-ana.png");
   height: 206px;
  width: 366px;
  background-size: 100%;
  border-radius: 14px;
  justify-items: center;
  align-content: center;
  background-repeat: no-repeat;
  
}
.zabo{
  background-image: url("assets/deal-zabo.png");
  height: 423px;
  width: 753px;
  background-size: 100%;
  border-radius: 16px;
  justify-items: center;
  align-content: center;
  background-repeat: no-repeat;
}

.off{
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px; 
}
.zabo-off{
  font-size: 3.125rem;
}
.shop{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  margin-left: 60px;
}
.zabo-shop{
  font-size: 1.75rem;
  margin-left: 150px;
}
.bloom-ana-zabo{
  display: flex;
  margin: 150px;
  gap: 28px;
}

 
/* email section */
.bunch{
   background-image: url("assets/news-letter-bg.png");
  background-size:cover;
  height: 700px;

 justify-items: center;
 align-content: center;
 
}
.head-email-btn{
  display: grid;
  justify-items: center;
 align-content: center;
 
}
.bunch-head{
  font-weight: bold;
  font-size: 3.125rem;
  color: white;

}
.email{
  height: 50px;
  width: 640px;
  border: none;
  font-size: 1rem;
  padding-left: 20px;
}
.email-btn{
  display: flex;
  gap: 0;
}
.e-btn{
  height: 52px;
}
 
/* fot footer section */
.footer{
  margin: 50px 150px;
  justify-content: space-between;
 
}
.foot-content{
  height: 180px;
  width: 359px;
}
.foot-logo{
  height: 82px;
  width: 135px;
}
.foot-text-col{
  color: rgba(107, 114, 128, 1);
}
.foot-description{
  font-size: 1.25rem;
 
}
.icon-name{
  color: rgba(107, 114, 128, 1);
  text-decoration: none;
  margin-bottom: 32px;
  
}
.first-btn{
  display: grid;
  font-size: 1rem;
  text-decoration: none;
}
.second-btn{  
  display: grid;
   font-size: 1rem;
  text-decoration: none;
  
}
.icons{
height: 36px;
width: 216px;
}
.foot-icon{
  margin-right: 15px;
}
.twitter{
  padding-bottom: 6px;
}


/* responsive for mobile */
@media screen and (max-width: 576px) {
   .bloom-ana-zabo, .banner, .flower-plants, .footer {
    flex-direction: column;
    align-content: center;
    margin: 0px;
    
  }
  .all-container{
     grid-template-columns: repeat(2, 1fr);

  }
 

  .flower-img,
  .flower-content {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .flower-head {
    font-size: 2rem;
  }

  .flower-des,
  .flower-singel-des {
    font-size: 1rem;
  }
  .flower-plants{
    margin: 50px 20px;
    align-items: center;
  }
  .flower-content{
    margin: 30px 20px;
    justify-content: center;
    text-align: center;
  }
  .trusted, .display-none{
    display: none;   
  }
  .navbar{
    margin: 0px 0px;
  }
  .banner{
    margin: 0px;
    flex-direction: column-reverse;
    align-items: center;
  } 
  
  .bloom,
  .ana,
  .zabo {
    width: 100%;
    background-size: cover;
    text-align: center;
  }
   
  .latest-description{
    margin: 0px;
  }
  .zabo{
      height: 206px;
  width: 400px;
  background-size: 100%;
  border-radius: 14px;
  margin-top: -15px;
  }
  .shop{
   margin-right: 100px;
  }
  .zabo-off{
    font-size: 1.25rem;
  font-weight: bold;
  }
  .zabo-shop{
    
    font-size: 1rem;
  font-weight: 600;
 margin-top: 10px;
  margin-left: 60px;
  }
  .bunch {
    height: auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  .email {
    width: 180px;
    height: 35px;
  }

  .e-btn {
    width:30px;
  }


.bunch{
   background-size:cover;
    justify-content: center;
  align-items: center;
}
.email-btn{
  margin: 0px 50px;
}
.e-btn{
  height: 10px;
  width: 10px;
} */
.flower-plants{
  height: 400px;
  width: 400px;
  margin-top: 200px;
  margin-bottom: 300px;
}
.latest{
  align-items: center;
  align-content: center;
  
}
  
   
   
  


}